body {
    font-family: sans-serif;
    cursor: pointer;
    padding: 0;
    margin: 0;
   overflow: hidden;
   height: auto;
  }
  
  .react-pdf__Document {
    padding-left: 15rem;
    width: 100%;
   height: auto;

   
  }
  
  .react-pdf__Page {
    width: 600px;
    height: 800px;
  
  }
  @media (max-width:1400px)  {
    .react-pdf__Document {
      padding-left: 0;
      width: auto;
        }
       
    /* smartphones, Android phones, landscape iPhone */
   }
  
  @media (max-width:480px)  {
    .react-pdf__Document {
      padding-left: 2rem;
        }
        .react-pdf__Page {
          width: 600px;
          height: 800px;
        }
    /* smartphones, Android phones, landscape iPhone */
   }