body {
    font-family: sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  .react-pdf__Document {
    transform: scale(0.9);
  
  }
  
  .react-pdf__Page {
    cursor: pointer;
    width: 400px;
    height: 550px;
  
  }
 